
<%= render "govuk_publishing_components/components/inverse_header", {
} do %>
  <div>
    <div class="govuk-width-container">
        <div class="govuk-phase-banner x-govuk-phase-banner--inverse">
            <p class="govuk-phase-banner__content", data-cy="govuk-phase-bannner-content">
                <strong class="govuk-tag govuk-phase-banner__content__tag x-govuk-tag--inverse">
                Alpha
                </strong>
        
                <span class="govuk-phase-banner__text">
                This is a new service – your <a class="govuk-link" href="#", data-cy="govuk-phase-bannner-link">feedback</a> will help us to improve it.
                </span>
            </p>
        
        </div>
        <h1 class="x-govuk-masthead__title">
            Find government data 
        </h1>
        <%= form_with url: data_services_path, method: :get, "data-cy": "data-service-search-form", class: "govuk-form-group" do |form|  %>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">
            <p class="x-govuk-masthead__description govuk-!-margin-bottom-3">
                Search for government API’s, data services and data sets that are available to share between departments.
                </p><p class="x-govuk-masthead__description govuk-!-margin-bottom-3">You can find out whether the data you need is available and how to request access to it.</p>
                <p class="x-govuk-masthead__description govuk-!-margin-bottom-6">You cannot access the data itself. Once you have found the data you need, contact the department that holds it to request they share it with you.</p>
            </div>
        <%= render 'shared/search_inverse', locals: {form: form} %>
        </div>
    <% end %>
    </div>
 </div>
<% end %>
