<h1 class="x-govuk-masthead__title">
    Find government data
  </h1>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <p class="x-govuk-masthead__description govuk-!-margin-bottom-3">
            Search for government API’s, data services and data sets that are available to share between departments.
            </p><p class="x-govuk-masthead__description govuk-!-margin-bottom-3">You can find out whether the data you need is available and how to request access to it.</p>
            <p class="x-govuk-masthead__description govuk-!-margin-bottom-6">You cannot access the data itself. Once you have found the data you need, contact the department that holds it to request they share it with you.</p>
            <form action="/s2/find" method="GET">
                <div class="gem-c-search gem-c-search--on-govuk-blue govuk-!-margin-bottom-0">
                    <label for="search" class="gem-c-search__label govuk-label">Search the Data Catalogue</label>
                    <div class="gem-c-search__item-wrapper">
                        <input aria-controls="js-search-results-info" class="gem-c-search__item gem-c-search__input govuk-input js-class-toggle" id="search" name="q" title="Search" type="search" value="">
                        <div class="gem-c-search__item">
                                <button class="gem-c-search__submit" type="submit" enterkeyhint="search">Search
                            <svg class="gem-c-search__icon" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                            <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
                            <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
                            </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </form>    
        </div>
      </div>
