    <%= render "govuk_publishing_components/components/inverse_header", {
    } do %>
    <div class="gem-c-title gem-c-title--inverse">
        <h1 class="gem-c-title__text govuk-heading-l">
            Find government data
        </h1>
        <%= form_with url: data_services_path, method: :get, "data-cy": "data-service-search-form", class: "govuk-form-group" do |form|  %>
            <div class="govuk-grid-row">
                <%= render 'shared/inverse_search', locals: {form: form} %>
            </div>
        <% end -%>
    </div>
    <% end %>
</div>
