<h2 class="govuk-heading-l">Browse by organisation</h2>
<div class="organisation-container">
  <ul class="govuk-list">
    <% @organisations.each do |organisation| %>
      <div class="govuk-grid-column-one-third">
        <div class="filter-card">
          <li class="organisation-item">
            <a class="govuk-link" href="<%= data_services_path(filters: organisation.id) %>">
              <% if organisation.name == 'Department for Work and Pensions' %>
                <%= render partial: 'shared/dwp_logo', locals: { organisation: organisation }, class: "govuk-image" %>
              <% else %>
                <%= image_tag("#{organisation.name.gsub(' ', '_')}.png", class: 'govuk-image', alt: organisation.name) %>
              <% end %>
            </a>
          </li>
        </div>
      </div>
    <% end %>
  </ul>
</div>