<div class="organisation-container">
  <ul class="govuk-list" data-cy="organisation-filter-list">
    <% @organisations.each do |organisation| %>
      <li class="govuk-grid-column-one-third filter-card">
        <a class="govuk-link <%=organisation.name.presence || organisation.slug%>-filter-link organisation-item" href="<%= data_resources_path(filters: [organisation.id]) %>" data-cy="<%= organisation.name.presence || organisation.slug%>-filter-link">
          <%= organisation_logo(organisation) %>
        </a>
      </li>
    <% end %>
  </ul>
</div>
