<h2 class="govuk-heading-l">Browse by organisation</h2>
<h2 class="govuk-heading-m">Ministerial departments</h2>
<div class="govuk-grid-row">
  <ul class="govuk-list datacat-row-of-threes">
    <% @organisations.each do |organisation| %>
      <% unless organisation.name != 'Department for Work and Pensions' %>
        <%= render partial: 'shared/dwp_logo', locals: { organisation: organisation } %>
      <% end %>
    <% end %>
  </ul>
</div>

<h2 class="govuk-heading-m">Non-ministerial departments</h2>
<div class="govuk-grid-row">
  <ul class="govuk-list datacat-row-of-threes">
    <%= render partial: 'shared/organisations_list'%>
  </ul>
</div>


