<li>
  <h3 class="govuk-heading-s">
    <%= link_to data_service.name, data_service_path(data_service), "data-cy": "data-service-#{data_service.id}-link" %>
  </h3>
  <p data-cy="data-service-<%= data_service.id %>-description"><%= data_service.description %></p>
</li>
