<dt class="govuk-heading-m govuk-!-margin-bottom-2"><%= field_name %></dt>
<dd class="govuk-body govuk-!-margin-left-0" data-cy="data-service-<%= field_name.parameterize %>">
  <% if field_value %>
    <a class="govuk-link" href="<%= field_value %>"><%= field_value %></a>
  <% else %>
    n/a
  <% end %>
</dd>
