<%= form_with url: data_services_path, method: :get, "data-cy": "data-service-search-form", class: "govuk-form-group" do |form|  %>
  <div class="moj-filter">
    <div class="moj-filter__header">
      <div class="moj-filter__header-title">
        <h2 class="govuk-heading-m">Filter by organisation</h2>
      </div>
      <div class="moj-filter__header-action">
      </div>
    </div>

    <div class="moj-filter__content">
      <% if params[:filters].present? %>
        <div class="moj-filter__selected">
          <div class="moj-filter__selected-heading">
            <div class="moj-filter__heading-title">
              <h2 class="govuk-heading-m">Selected filters</h2>
            </div>
            <div class="moj-filter__heading-action">
              <%= link_to "Clear filters", data_services_path({query: params[:query].presence}.compact), class: "govuk-link govuk-link--no-visited-state", "data-cy": "data-service-clear-filters-button" %>
            </div>
          </div>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Organisations</h3>
          <%= render_filter_tags(params[:filters], @organisations) %>
        </div>
      <%end%>
      <%= render 'shared/filter_expander', locals: {form: form}%>
    </div>
  </div>
<%end%>