<div class="govuk-masthead">
  <div class="govuk-width-container">
    <%= render 'shared/phase_banner' %>

    <h1 class="govuk-heading-xl govuk-!-margin-top-6 govuk-!-margin-bottom-6">Find government data</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <p class="govuk-body-l govuk-!-margin-bottom-3">Search for government APIs, data services and data sets that are available to share between departments.</p>
        <p class="govuk-body-l govuk-!-margin-bottom-3">You can find out whether the data you need is available and how to request access to it.</p>
        <p class="govuk-body-l govuk-!-margin-bottom-3">You cannot access the data itself. Once you have found the data you need, contact the department that holds it to request they share it with you.</p>

        <%= form_with url: data_services_path, method: :get, "data-cy": "data-service-search-form", class: "govuk-form-group govuk-!-margin-top-6 govuk-!-margin-bottom-7" do |form|  %>
          <%= render 'shared/search', on_govuk_blue: true %>
        <% end -%>
      </div>
    </div>
  </div>
</div> 
