@import "govuk_publishing_components/govuk_frontend_support";
@import "govuk_publishing_components/component_support";
@import "govuk-frontend/govuk/components/footer/footer";
@import "govuk-frontend/govuk/components/header/header";
@import "govuk-frontend/govuk/components/back-link";
@import "govuk-frontend/govuk/components/phase-banner";
@import "govuk_publishing_components/components/button";
@import "govuk_publishing_components/components/input";
@import "govuk_publishing_components/components/checkboxes";
@import "govuk_publishing_components/components/search";
@import "govuk_publishing_components/components/organisation-logo";

.organisation-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-shrink: 1;
}

.organisation-container li {
  flex-basis: 33.33%;
  text-align: center;
  flex-shrink: 1;
}

.organisation-item img {
  width: 50%;
  height: 50%;
}
