<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <title>Data Catalogue</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body class="govuk-template__body govuk-body">
    <div class="govuk-width-container">
      <main class="govuk-main-wrapper">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
