<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <%= render 'shared/head' %>

  <body class="govuk-template__body js-enabled">
    <%= render 'shared/header' %>
    <main class="govuk-main-wrapper">
      <%= yield %>
    </main>
  </body>

  <%= render 'shared/footer' %>
</html>
